@{
    ViewBag.Title = "About This Application";
}
<h2>About Me</h2>
<h3>Jake Butler's Background</h3>

<p>My first MVC application for MIS 4200.
    
    My name is Jake Butler. I am from Cincinnati, OH. Ironically, although I do like the Bengals, I am primarily a Minnesota Vikings fan.
    I was born in Minneapolis and moved to Ohio when I was 3. Though I don't remember much from those days, it was enough to make me stick to being a die hard Vikings fan.
    I have a pet snake named Snakob, a baby turtle named BooBoo, and a goldfish named Motley.
    
    </p>
