@{
    ViewBag.Title = "Jake Butler's Website";
}

<div class="jumbotron">
    <h1>Jake Butler <span class="glyphicon glyphicon-user"></span></h1>
    <p class="lead">
        This website it to demonstrate my progress working MVC in MIS 4200.<br />
        Click the button below to view my Linkedin profile:<br />
        <a href="https://www.linkedin.com/in/jakob-butler" class="btn btn-primary">Linked in Profile</a> <br />


   
    </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Education <span class="glyphicon glyphicon-education"></span></h2>
        <p>
            I am currently a fourth year senior at Ohio University. I am majoring in Management Information Systems and monioring in Marketing.
            I am on course to graduate this May and am excited to see what the real world has in store for me.
        </p>
        <a href="https://www.ohio.edu/" class="btn btn-success">Ohio University Website</a> <br />

    </div>
    <div class="col-md-4">
        <h2>Post Graduation <span class="glyphicon glyphicon-briefcase"></span></h2>
        <p>After graduation, I am moving to Columbus to begin my career with DHL Supply Chain where I interned this past summer. I will be working as an Implementation Analyst</p>
        <a href="https://www.logistics.dhl/us-en/home/our-divisions/supply-chain.html" class="btn btn-warning">DHL Supply Chain</a> <br />
    </div>
    <div class="col-md-4">
        <h2>Free Time <span class="glyphicon glyphicon-music"></span></h2>
        <p>In my free time, I love to play guitar. I am in an 80s hair metal cover band. Some of my favorite artists to listen to are Ozzy Osbourne, Dokken and Ratt.</p>
        <a href="https://www.rollingstone.com/music/music-lists/50-greatest-hair-metal-albums-of-all-time-162362/" class="btn btn-danger">50 Best Hair Metal Albums</a>
    </div>
</div>