@{
    ViewBag.Title = "Jake Butler's Website";
}

<div class="jumbotron">
    <h1>Jake Butler</h1>
    <p class="lead">This website it to demonstrate my progress working MVC in MIS 4200.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Education</h2>
        <p>
            I am currently a fourth year senior at Ohio University. I am majoring in Management Information Systems and monioring in Marketing.
            I am on course to graduate this May and am excited to see what the real world has in store for me.
        </p>
      
    </div>
    <div class="col-md-4">
        <h2>Post Graduation</h2>
        <p>After graduation, I am moving to Columbus to begin my career with DHL Supply Chain where I interned this past summer. I will be working as an Implementation Analyst</p>
       
    </div>
    <div class="col-md-4">
        <h2>Free Time</h2>
        <p>In my free time, I love to play guitar. I am in an 80s hair metal cover band. Some of my favorite artists to listen to are Ozzy Osbourne, Dokken and Ratt.</p>
        
    </div>
</div>